
/* CSS declarations go here */
 #login {
    width: 200px;
    font-weight: bold;
}

.playerContainer {
}

.playerContainerModal {
	height: 100%;
}


.player {
	padding: 10px;
}

.playerHtml {
    overflow: scroll;
    width: 100%;
    border: 5px solid darkgray;
}

.playerHtmlModal {
    overflow: scroll;
    width: 100%;
    height: 50%;
    border: 5px solid darkgray;
}

.panel-primary {
	height: 100%;
}

.panel-body {
	height: 100%;
}

.editor {
    width: 98%;
    height: 250px;
    text-align: left;
    font-size: 150%;
    display: none;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.helpHidden {
	display: none;
}